@font-face {
  font-family: "opensansregular";
  src: url('..fonts/OpenSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: "opensansregular", sans-serif;
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

nav {
  text-align: right;
  height: 70px;
  line-height: 70px;
  background-color: #B0B0FF;

}
#notice {
  float: left;
  opacity: 0;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #ffffff;
  width: 80%;
  text-align: left;
  transition:all 0.3s ease;
}

#notice:hover {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
#notice {
  width: auto;
  opacity: 1;
}
}

#logo {
  height: 100%;
  width: auto;
  float: left;
}
.nav--hamburger {
  font-size: 40px;
  line-height: 70px;
  width: 26px;
  right: 40px;
  color: #ffffff;
  position: absolute;
  z-index: 999;

}

.nav--hamburger:hover {
  cursor: pointer;
}
.nav--menu {
  position: absolute;
  top: 70px;
  width: 100%;
  margin: 0 30px 0 0;
  opacity: 0.9;
  text-align: center;
  z-index: 990;
}
.nav--menu a {
  line-height: 70px;
  color: #FFFFFF;
  background-color: #B0B0FF;
  text-decoration: none;
  display: none;
  transition:all 0.3s ease;
}
.nav--menu a:hover {
  background-color: #4C4CFF;
}
#menu1.display,
#menu2.display,
#menu3.display,
#menu4.display,
#menu5.display,
#menu6.display,
#menu7.display,
#menu8.display,
#menu9.display,
#menu10.display,
#menuIndex.display {
  display: block;
}
.content {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  color: #32327F;
  line-height: 25px;
}
.blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}
.indexBackground {
  padding-top: 20%;
  text-align: center;
  color: #32327F;
  font-size: 50px;
}

.content ul, .content ol {
  padding-left: 1%;
  margin-left: 1%;
}

#up {
  transition:all 0.3s ease;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #B0B0FF;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#up:hover {
  background-color: #4C4CFF;
}

.code {
  font-style: italic;
}

.imgViewer {
  width: auto;
  height: 150px;
  display: block;
  box-shadow: 5px 5px #B0B0FF;
  margin: 1% 0 1% 0;
}

.content a {
  font-weight: bold;
  text-decoration: none;
  border-bottom: 3px solid #6464FF;
  transition: all 0.3s ease;
  color: #6464FF;
  cursor: pointer;

}

.content a:hover {
  text-decoration: none;
  color: #0000FF;
  border-bottom: 3px solid #0000FF;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.block {
  border-bottom: 2px solid #32327F;
  padding-bottom: 10px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 2px solid #32327F;
  padding: 5px;
}
